In [1]:
import pandas as pd

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'football': 'UK',
         'Basketball': 'USA',
         'Table Tennis': 'China'}
s = pd.Series(sports)
s

football           UK
Basketball        USA
Table Tennis    China
dtype: object

In [10]:
s.index

Index(['football', 'Basketball', 'Table Tennis'], dtype='object')

In [12]:
s = pd.Series(['Tiger', 'Bear', 'Moose'])
s

0    Tiger
1     Bear
2    Moose
dtype: object

In [13]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['USA', 'UK', 'Canada'])
s

USA       Tiger
UK         Bear
Canada    Moose
dtype: object