In [1]:
import pandas as pd

In [2]:
s = pd.Series(['Tiger', 'Bear', 'Moose', 'Dragon'], index=['USA', 'UK', 'Canada', 'China'])
s

USA        Tiger
UK          Bear
Canada     Moose
China     Dragon
dtype: object

In [3]:
s.iloc[3]

'Dragon'

In [5]:
s.loc['China']

'Dragon'

In [6]:
s[3]

'Dragon'

In [7]:
s['China']

'Dragon'

In [8]:
s = pd.Series([100,101,102,103])
s

0    100
1    101
2    102
3    103
dtype: int64

In [9]:
total = 0
for item in s:
    total += item
print(total)

406

In [10]:
import numpy as np

total=np.sum(s)
print(total)

406

In [11]:
# start,stop,size
s = pd.Series(np.random.randint(0,1000,10000))
s

0       481
1       903
2       399
3        92
4       233
5       596
6       903
7       367
8       378
9       714
10      286
11      882
12      769
13      239
14      395
15      144
16       20
17      177
18      941
19      198
20       73
21      183
22      286
23      851
24      789
25       83
26      544
27       33
28      548
29      437
       ...
9970    837
9971     69
9972    627
9973    711
9974     90
9975     29
9976    490
9977    209
9978    527
9979    544
9980    158
9981     54
9982    598
9983    575
9984    215
9985     47
9986    627
9987    650
9988    900
9989    603
9990    901
9991    541
9992    298
9993    472
9994    503
9995    569
9996    599
9997    804
9998    451
9999    236
Length: 10000, dtype: int32

In [12]:
s.head()

0    481
1    903
2    399
3     92
4    233
dtype: int32

In [13]:
s.head(10)

0    481
1    903
2    399
3     92
4    233
5    596
6    903
7    367
8    378
9    714
dtype: int32

In [14]:
len(s)

10000

In [15]:
# magic function
%%timeit -n 100
summary = 0
for item in s:
    summary += item

1.59 ms ± 78.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
%%timeit -n 100
summary = np.sum(s)

196 µs ± 69.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
# much faster
s += 2
s.head()

0    487
1    909
2    405
3     98
4    239
dtype: int32

In [18]:
# old, much slower
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

D:\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    485
1    907
2    403
3     96
4    237
dtype: int32

In [21]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [22]:
s.loc['Animal'] = 'Bear'
s

0            1
1            2
2            3
Animal    Bear
dtype: object

In [26]:
s = pd.Series({'football': 'UK',
                'Basketball': 'USA',
                'Table Tennis': 'China'})
print(s)
print()
s1 = pd.Series(['Tiger', 'Bear', 'Moose', 'Dragon'],
              index=['USA', 'UK', 'Canada', 'China'])
print(s1)
print()

overall_s = s.append(s1)
print(overall_s)

football           UK
Basketball        USA
Table Tennis    China
dtype: object

USA        Tiger
UK          Bear
Canada     Moose
China     Dragon
dtype: object

football            UK
Basketball         USA
Table Tennis     China
USA              Tiger
UK                Bear
Canada           Moose
China           Dragon
dtype: object

In [27]:
# haven't changed
s

football           UK
Basketball        USA
Table Tennis    China
dtype: object

In [28]:
s1

USA        Tiger
UK          Bear
Canada     Moose
China     Dragon
dtype: object